.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background: #33b5e5;
  padding: 20px 200px 20px 200px;
}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
